#top {
    background: #2e6da4;
}

/*Comments*/
.responce {
    padding-left: 10%;
    border-left: 1px solid #9d9d9d;
}

.comment {
    margin-top: 9px;
    width: 500px;
}

.comment a, .lower a, form a {
    text-decoration: underline;
}

.comment p {
    margin-left: 3%;
}

.comment a.right {
    color: #721c24;
}

.right {
    float: right;
}

.comments {
    margin-top: 40px;
    border-bottom: 1px solid #9d9d9d;
}

/*Content*/
img {
    float: left;
}

.line {
    border-top: #9d9d9d dashed;
}

.author-post {

}

.content {
    border: 1px solid #9d9d9d;
}

.content td[valign ="top"] {
    font-weight: bold;
}

.content td {
    vertical-align: top;
    border: 1px solid grey;
}

#intro {
    font-size: large;
    font-weight: bolder;
}

#presents {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white;
}

.body-head {
    color: black;
    font-size: xx-large;
}

.lower {
    size: auto;
}

#container {
    margin: 0 19.5%;
}

/*Top*/
.top {
    margin: 0 20%;
}

.top, .lower, ul {
    overflow: hidden;
    padding: 0;
}

.top li, .lower li {
    float: left;
}

.top a {
    display: block;
    padding: 1em;
    color: #9acfea;
}

.top a:hover {
    background: #ADC0CE;
    color: #0f0f0f;
}

h2 {
    font-family: monospace;
    color: #606060;
}

ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

li {
    margin-right: 0px;
}

span {
    font-weight: bold;
    color: #0f0f0f;
    margin-left: 0.5em;
}

nav .lower a {
    color: #2aabd2;
}

/*form*/
form textarea, form input[type = "text"] {
    border-radius: 8px;
}

form {
    width: 40%;
    border-collapse: collapse;
}

form [name = "name"], textarea {
    width: 100%;
}

form [name = "age"] {
    float: left;
    width: 20%;
}

form select[name = "sex"] {
    width: 30%;
}

form table {
    border-collapse: collapse;
}

form table tr {
    border-bottom: none;
}

form .required {
    color: red;
}